<%-include("header")-%>

<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">
    <% newItems.forEach(function addItem(item){  %>
        <div class="item">
            <input type="checkbox">
            <p><%=item%></p>
        </div>
        
    <%})%>
    
    <form class="item" action="/todo" method="POST">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%=listTitle%>>+</button>
    </form>
</div>

<%-include("footer")-%>